@model TicketApp_usingEF.Ticket

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThankYou</title>
    <link href="~/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="margin-top: 50px;">
        <div class="text-center">
            <div>
                <h1>Thank You, @Model.Username.</h1>
                <p><h4>Thank you @Model.Username. Your ticket will be conjured at @Model.Priority intensity on @Model.DateOpened.ToShortDateString().Ticket is now @Model.Status.</h4></p>
            </div>
            <div>
                @Html.ActionLink("Click here", "tickets") for Homepage.
            </div>
        </div>
        <script src="~/jquery-1.12.0.min.js"></script>
        <script src="~/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    </div>
</body>
</html>

